Here are the coordinates of the location you are describing:

Latitude: {{ latitude }}
Longitude: {{ longitude }}

Here is the user's question:

{{ user_input }}

Please use the wikipedia API to find information about the location.